<ion-header [translucent]="true">
  <ion-toolbar class="Cambio">
    <ion-title>
      Salida
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="animated-title">Salida</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content [fullscreen]="true">
  <div id="container">
    <img [src]="imageSource" style="width: 400px;" />
    <ion-button (click)="takePicture()">Camera</ion-button>
  </div>  
</ion-content>
 