<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-card [routerLink]="['/entrada']">
          <ion-icon name="home" size="large"></ion-icon>
          <ion-card-content>
            Entrada
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card [routerLink]="['/salida']">
          <ion-icon name="exit" size="large"></ion-icon>
          <ion-card-content>
            Salida
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card [routerLink]="['/confi']">
          <ion-icon name="cog" size="large"></ion-icon>
          <ion-card-content>
            Configuración
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card [routerLink]="['/ubicacion']">
          <ion-icon name="map-outline" size="large"></ion-icon>
          <ion-card-content>
            UBICACION
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card [routerLink]="['/pokemons']">
          <ion-icon name="logo-pokemon" size="large"></ion-icon>
          <ion-card-content>
            Pokémon
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card [routerLink]="['/historial-registro']">
          <ion-icon name="time" size="large"></ion-icon>
          <ion-card-content>
            Historial
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
