<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-card>
          <ion-icon name="home" size="large"></ion-icon>
          <ion-card-content>
            Entrada
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-icon name="exit" size="large"></ion-icon>
          <ion-card-content>
            Salida
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-icon name="restaurant" size="large"></ion-icon>
          <ion-card-content>
            Inicio de Descanso
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-icon name="play-back" size="large"></ion-icon>
          <ion-card-content>
            Fin del Descanso
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-icon name="lock-open" size="large"></ion-icon>
          <ion-card-content>
            Abrir Puerta
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-icon name="push" size="large"></ion-icon>
          <ion-card-content>
            Marcar Punto
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-icon name="document" size="large"></ion-icon>
          <ion-card-content>
            Marca
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card>
          <ion-icon name="cog" size="large"></ion-icon>
          <ion-card-content>
            Configuración
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
