<ion-header>
  <ion-toolbar>
    <ion-title>
      elige tu pokemon favorito 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="searchPokemon($event)"></ion-searchbar>

  
  <ion-button expand="full" color="light" (click)="clearSearchResults()" *ngIf="filteredPokemonList.length > 0 && !selectedPokemon">
    Clear Results
  </ion-button>

  <ion-list *ngIf="!selectedPokemon">
    <ion-item *ngFor="let pokemon of filteredPokemonList">
      <ion-thumbnail slot="start">
        <img [src]="getPokemonImage(pokemon.url)" alt="{{pokemon.name}}"/>
      </ion-thumbnail>
      <ion-label>
        <h2 (click)="selectPokemon(pokemon)">{{ pokemon.name }}</h2>
        <p>Click to select</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="selectedPokemon">
    <ion-card-header>
      <ion-card-title>{{ selectedPokemon.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img [src]="selectedPokemon.image" alt="{{selectedPokemon.name}}"/>
      

      <ion-button expand="full" color="danger" (click)="deletePokemon()">Borrar Pokémon</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
