.pokemon-card-content {
    text-align: center;  // Centra el contenido horizontalmente
  }
  
  .pokemon-card-content img {
    width: 80%;  // Ajusta el tamaño de la imagen (puedes ajustar el valor según tus necesidades)
    max-width: 300px;  // Establece un tamaño máximo para la imagen
    margin: 0 auto;  // Centra la imagen horizontalmente
  }
  