<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RestablecerContra</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RestablecerContra</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-item >
  <ion-label position="floating"> Ingrese su correo </ion-label>
  <ion-input [(ngModel)]="formLogin.correo" placeholder="Ingrese su correo"></ion-input>
</ion-item>
<ion-button (click)="openWitheExtas()"[routerLink]="['/home']">Enviar</ion-button>
</ion-content>































